<div class="container">
  <h1 class="text-center" style="margin: 50px 0;">BEAUTY LOOP</h1>
  <h2 class="text-center" style="margin: 50px 0;">Components</h2>
  <h3 style="margin: 20px 0;">Video Card</h3>

  <div style="display: flex;">
    <div class="insider-info-cards">
      <div class="insider-info-text">
        <p><strong>Ask the expert</strong></p>
        <p>Girlie talk with influencer Shantania Beckford</p>
      </div>
      <div class="insider-info-image" style="background-image: url('https://images.pexels.com/photos/457701/pexels-photo-457701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
    </div>
    <div class="insider-info-cards">
      <div class="insider-info-text">
        <p><strong>Ask the expert</strong></p>
        <p>Girlie talk with influencer Shantania Beckford</p>
      </div>
      <div class="insider-info-image" style="background-image: url('https://images.pexels.com/photos/457701/pexels-photo-457701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
    </div>
  </div>

</div>
